.collection-item {
  position: relative;
  margin: 20px;
}

.collection-item-image {
  width: 500px;
  height: 350px;
}

.title {
  float: left;
  position: absolute;
  left: 0px;
  bottom: 4px;
  z-index: 1000;
  width: 98%;
  text-align: center;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 5px;
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  transition: 0.3s;
  padding-bottom: 20px;
}

.title h5 {
  margin-top: 30px;
  background-color: transparent;
}

.collection-item:hover .title,
.collection-item.hover .title {
  height: 130px;
}
